<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>logger</filter-name>
        <filter-class>filter.Logger</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logger</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctimeController</servlet-name>
        <servlet-class>controller.ctimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wtimeController</servlet-name>
        <servlet-class>controller.wtimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>utimeController</servlet-name>
        <servlet-class>controller.utimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendanceController</servlet-name>
        <servlet-class>controller.attendanceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctimeController</servlet-name>
        <url-pattern>/ctime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wtimeController</servlet-name>
        <url-pattern>/wtime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>utimeController</servlet-name>
        <url-pattern>/utime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendanceController</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
